@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

}

/* Add this to your CSS */
::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #84141A; /* Set the color of the thumb */
  border-radius: 3px; /* Optional: Set border-radius for rounded corners */
}


/* .chat{
  background-image: url("./assets/BG.png");
  background-size: contain;
} */

/* .bg{
  background-image: url("./assets/main.png");
  background-size: contain;
  background-repeat: repeat;

} */



/* Styles */

/* .confirm-button {
  appearance: none;
  background: rgb(255, 255, 255);
  color: rgb(111, 0, 0);
  padding: 6px 8px; 
  border-radius: 1px;
  border: none;
  font-size: 12px;
  cursor: pointer;
}

.confirm-button:checked {
   Selected button styles
  background: rgb(178, 0, 0)
}  */

label {
  display: inline-flex; 
  align-items: center;
  gap: 8px;
}
